/*一般*/
.property1 {
  background-color: #BBBBAA;
}

/*飞行*/
.property2 {
  background-color: #6699FF;
}

/*火*/
.property3 {
  background-color: #FF4422;
}

/*超能*/
.property4 {
  background-color: #FF5599;
}

/*水*/
.property5 {
  background-color: #3399FF;
}

/*虫*/
.property6 {
  background-color: #AABB22;
}

/*电*/
.property7 {
  background-color: #FFCC33;
}

/*岩石*/
.property8 {
  background-color: #BBAA66;
}

/*草*/
.property9 {
  background-color: #77CC55;
}

/*幽灵*/
.property10 {
  background-color: #6666BB;
}

/*冰*/
.property11 {
  background-color: #77DDFF;
}

/*龙*/
.property12 {
  background-color: #7766EE;
}

/*格斗*/
.property13 {
  background-color: #BB5544;
}

/*恶*/
.property14 {
  background-color: #775544;
}

/*毒*/
.property15 {
  background-color: #AA5599;
}

/*钢*/
.property16 {
  background-color: #AAAABB;
}

/*地面*/
.property17 {
  background-color: #DDBB55;
}

/*妖精*/
.property18 {
  background-color: #FFAAFF;
}


/*其他*/
.property20 {
  background-color: #000;
}

/*物理*/
.property91 {
  background-color: #ec5328;
}

/*特殊*/
.property92 {
  background-color: #3367c5;
}

/*变化*/
.property93 {
  background-color: #999;
}
